body {
  margin: 0;
  padding: 0;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    padding-top: 10vh;
    margin: 15vw;
    margin-top: 75px;
    font-weight: 500;
    height: 90vh;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5)

    
}
header h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
}
header p {
    text-align: center;
    font-size: 20px;
}
.circle-image {
    
    border-radius: 50%;
    width: 15rem;
    height: 15rem; 
    border: 5px solid darkviolet;
}
header ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    gap: 3rem;
}
.contacts {
    margin: 0;
    line-height: 1.3;
}
header ul a img {
    width: 4rem;
    height: 4rem;
}
h2
{
    color: #fff;
}
p {
    color: #fff;
}
div .content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 10vh;
    padding: 1rem;
    margin: 10vw;
    margin-top: -10vw;
    font-weight: 500;
    height: 30vw;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5)
}
@media (max-width: 900px) {
    header {
        margin: 2vw;
    }
    header ul {
        gap: 1rem;

    }
    header ul a img {
    width: 3rem;
    height: 3rem;
    }
    div .content-box{
        margin: 2vw;
        height: auto;
        font-size: smaller;
        padding: 1rem;
    }
}